.One {
  width: 800px;
  height: 150px;
  background: #60b88d;
  position: relative;
}

.One::after {
  background: #90cdaf;
  position: absolute;
  content: '';
  top: 5px;
  left: 5px;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.One::before {
  background: #bfe3d1;
  position: absolute;
  content: '';
  top: 10px;
  left: 10px;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.Two {
  top: 200px;
  width: 800px;
  height: 150px;
  background: #60b88d;
  position: absolute;
  box-shadow: 5px 5px 0 #90cdaf,
    10px 10px 0 #bfe3d1;
}

.blockOne {
  top: 400px;
  width: 800px;
  height: 150px;
  background: #60b88d;
  position: absolute;
}

.blockTwo {
  top: 405px;
  left: 13px;
  height: 150px;
  width: 800px;
  background: #90cdaf;
  position: absolute;
  z-index: -1;
}

.blockThree {
  top: 410px;
  left: 18px;
  height: 150px;
  width: 800px;
  background: #bfe3d1;
  position: absolute;
  z-index: -2;
}